html * {
	font-family: "Segoe UI", Arial, sans-serif;
}

input,
select,
button {
	display: block;
	width: 100%;
	border: 1px solid gray;
	border-radius: 5px;
}

input {
	height: 25px;
}

select,
button {
	margin: 6px 0px 15px 0px;
	height: 30px;
}

button {
	display: inline-block;
	padding: 5px 10px;
}

label,
p {
	line-height: 1.5em;
	font-size: 12pt;
}

.content {
	margin: auto;
	max-width: 1225px;
	padding-left: 0px;
	padding-right: 0px;
}

h1 {
	text-align: center;
}

input[type="checkbox"],
input[type="radio"] {
	width: 20px;
	height: 20px;
	vertical-align: middle;
	float: left;
	margin-right: 15px;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
	margin-top: 15px;
	margin-right: 15px;
}

fieldset {
	border: 2px solid #929292;
	border-radius: 5px;
	padding: 10px 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

fieldset fieldset {
	border: 2px solid #bebebe;
}

.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.flexItem {
	width: 350px;
}

.statGrid {
	display: grid;
	gap: 10px;
	grid-template-columns: 120px auto;
}

#genAndItems fieldset:not(:first-child) {
	width: 200px;
}

#generation {
	width: 100px;
}

#generation div {
	margin-bottom: 8px;
}

.addRemovePokemon button {
	height: 60px;
	width: 150px;
	margin-right: 20px;
	vertical-align: top;
}

#addRemoveEVs {
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

#addRemoveEVs button {
	flex-grow: 1;
}
